* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


nav {
  color: white;
}

li {
  list-style-type: none;
  padding: 0 2vw 0 0;
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  border-bottom: 1px solid white;
  display: flex;
  flex-direction: row;
}

#search-bar{
  position: relative;
  left: 50%;
  top: 0;
  width: 20%;
}


main {
  display: flex;
  justify-content: center;
  margin: 2vh 0 0 0;
  padding: 15vh 0 0 0;
  height: 50vh;
  background-color: black;
  color: white;
}

.main-container{
  display: flex;
  flex-direction: row;
}

#nav-items {
  display: flex;
  flex-direction: row;
  padding: 2vh 1vw 0 2vw;
}


#search-bar > form {
  display: flex;
  flex-direction: column;
  padding: 0 0 5vh 0;
}

form label {
  padding: 2vh;
}

form input {
  width: 20%;
  border-radius: 20vw;
  transition: .2s linear 0s;
}

form input:hover{
  padding-left: 80px;
}


article,
aside {
  margin: 5vh 3vw 5vh 0;
}

article{
  width: 80%;
}

aside {
  margin: 5vh 2vw 0 2vw;
  padding: 2vw;
  width: 20%;
  height: 40vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  background: #cdcdcd;
  justify-content: center;
  height: 20vh;
}

.footer-nav li {
  margin: 5vh 0 0 0;
}
